main {
    display: grid;

    grid-template-columns: 200px, 1fr; 

    grid-template-rows: auto 1fr;

    grid-template-areas: 
        "header header"
        "nav principal";

        gap: 20px; 
}

header{
    grid-area: header;


}

#panel-izquierda{
    grid-area: nav;
}

#principal{
    grid-area: principal;
}

#cartas{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/*Para pantalla < 900px*/

@media (max-width: 900px) {
    
    #cartas{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Para panatlla < 550px*/

@media (max-width: 550px) {

    #cartas{
        grid-template-columns: 1fr;
    }
}